<ion-header>
    <ion-toolbar>
        <ion-title>pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #Formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nombre de la empresa y razón social</ion-label>
                <ion-input type="text" [(ngModel)]="nomEmpresa" name="nomEmpresa"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating">RFC</ion-label>
                <ion-input type="text" [(ngModel)]="RFC" name="RFC"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input type="text" [(ngModel)]="Direccion" name="Direccion"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Cliente</ion-label>
                <ion-input type="Cliente" [(ngModel)]="Cliente" name="eCliente"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Domicilio del cliente</ion-label>
                <ion-input type="text" [(ngModel)]="domiDeCliente" name="domiDeCliente"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Número de remisión</ion-label>
                <ion-input type="text" [(ngModel)]="numRem" name="numRem"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Fecha de salida de carga</ion-label>
                <ion-input type="text" [(ngModel)]="fechaSalida" name="fechaSalida"></ion-input>
            </ion-item>

            < <div class="loginbtn">
                <ion-button (click)='numeroPedidos()' class="btnlogin" color="success">Agregar Producto</ion-button>
                </div>


                <div class='datosProducto'>
                    <ion-item>
                        <ion-label position="floating">Fecha de salida de carga</ion-label>
                        <ion-input type="text" [(ngModel)]="fechaSalida" name="fechaSalida"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Calidad</ion-label>
                        <ion-input type="text" [(ngModel)]="fechaSalida" name="fechaSalida"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Cantidad</ion-label>
                        <ion-input type="text" [(ngModel)]="Cantidad" name="Cantidad"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Unidad</ion-label>
                        <ion-input type="text" [(ngModel)]="Unidad" name="Unidad"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Descripción de la fórmula.
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="descFormula" name="descFormula"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Precio Unitario
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="preUnitario" name="preUnitario"></ion-input>
                    </ion-item>
                </div>

        </ion-list>

    </form>
</ion-content>