.grenHig {
    color: #ffdc44;
    //font-size: 20px;
}

.blueCalendar {
    color: #38d0ff;
}

.buttonSquare {
    width: 5em;
    height: 3em;
    --border-radius: 2px;
    margin-top: 0;
}

.orange {
    --background: #DB645C;
}

.black {
    --background: #222222;
}

.genPDF {}

.iconsize {
    width: 1.5em
}

.tlt {
    color: azure;
    font-size: 8px;
    font-weight: bold;
}