.cabecera {
    height: 15em;
    background: #24D69E;
    z-index: 2;
    -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.17);
    position: absolute;
}

.titulo {
    color: azure;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.factory {
    display: flex;
    justify-content: center;
}

.imgF {
    width: 5em;
}

.tlt {
    color: azure;
    font-size: 14px;
    margin-top: -.5em;
}

.center {
    text-align: center;
}

.scrollbox {
    height: 22em;
    border: 1px solid #ffffff;
    //background: hsl(276, 65%, 37%);
    overflow: auto;
    margin-top: 13em;
}

.buttonSquare {
    width: 6em;
    height: 3em;
    --border-radius: 2px;
    margin-top: 0;
}

.iconsize {
    width: 1.5em
}

.grenHig {
    color: #ffdc44;
    //font-size: 20px;
}

.blueCalendar {
    color: #38d0ff;
}

.orange {
    --background: #DB645C;
}

.gris {
    --background: #406570;
}