<ion-grid fixed>
    <ion-row>
        <ion-col>
            <ion-card mode='ios'>
                <!-- <ion-card-header>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
            </ion-card-header> -->

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <img src="../../../assets/icon/listReport.png" alt="">
                            </ion-col>

                            <ion-col size="6">
                                <ion-card-title>San Jose</ion-card-title>
                                <h4>
                                    23/jun/2019</h4>

                                <h4>
                                    $400.00</h4>
                            </ion-col>

                            <ion-col size="3">
                                <div class=genPDF>
                                    <ion-button expand="block" (click)='irPedido()' class="orange buttonSquare">
                                        <img src="../../../assets/icon/pdfIcon.png" alt="" class='iconsize'>
                                    </ion-button>
                                    <ion-button expand="block" (click)='irPedido()' class="blueCalenda buttonSquare">
                                        <img src="../../../assets/icon/trashIcon.png" alt="" class='iconsize'>
                                    </ion-button>
                                </div>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>