.logo {
    display: flex;
    // border-style: solid;
    justify-content: center;
    margin-top: 6em;
}

.img01 {
    width: 10em;
}

.usuario {
    display: inline-block;
}

.loginbtn {
    display: flex;
    justify-content: center;
}

.btnlogin {
    margin-top: 2em;
    width: 4em;
}